.button {
  border: 1px solid black;
  background-color: black;
  color: white;
  padding: 6px 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.1s ease-in;

  &:hover {
    background-color: white;
    color: black;
  }
}
