// Breakpoints
$xs: 0;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

.container {
  max-width: $sm;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-in-out 0s;

  .icon {
    display: inline-block;
    transform: rotate(-130deg);
  }

  @media screen and (max-width: $sm) {
    margin-top: 50%;
  }
}

.shortenForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out 0s;

  input {
    width: 100%;
    border: 1px solid #eaeaea;
    height: 32px;
    padding: 0 12px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: 0 none black;
    position: relative;
    z-index: 1;

    &:active,
    &:focus {
      border-color: rgb(0, 0, 0);
    }
  }

  .formGroup {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;

    input {
      width: 80%;
      margin-right: auto;
    }
  }

  .submitButton {
    height: 30px;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .urlStringError {
    color: #ee0000;
    display: inline-block;
    font-size: 0.875rem;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .urlStringErrorShow {
    height: 23px;
    margin-block-start: 0.5rem;
  }

  .aliasCaption {
    color: #919191;
    font-size: 0.75rem;
  }

  @media screen and (max-width: $sm) {
    width: 95%;

    input {
      height: 40px;
    }

    .formGroup {
      display: flex;
      flex-direction: column;
      input {
        width: 100%;
      }

      button {
        margin-top: 8px;
        width: 100%;
        height: 40px;
      }
    }
  }
}

.resultContainer {
  margin-block-start: 1rem;

  a {
    &:hover {
      color: #0070f3;
      text-decoration: underline;
    }
  }

  i:last-child {
    font-size: 0.875rem;
    display: inline-block;
    margin-left: 1.5rem;
    cursor: pointer;
    color: #29bc9b;
  }
}
