// Breakpoints
$xs: 0;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

.container {
  max-width: $sm;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    display: inline-block;
    transform: rotate(-130deg);
  }
}

.shortenForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 100%;
  }

  button {
    margin-block-start: .5rem;
  }
}

.resultContainer {
  margin-block-start: 1rem;

  i:first-child {
    display: inline-block;
    margin-right: 1.5rem;
  }

  i:last-child {
    display: inline-block;
    margin-left: 1.5rem;
    cursor: pointer;
  }
}